@font-face {
  font-family: "Maple Mono NF CN";
  src: url("../../assets/fonts/maple-mono-nf-cn/MapleMono-NF-CN-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maple Mono NF CN";
  src: url("../../assets/fonts/maple-mono-nf-cn/MapleMono-NF-CN-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "Maple Mono NF CN";
  src: url("../../assets/fonts/maple-mono-nf-cn/MapleMono-NF-CN-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Maple Mono NF CN";
  src: url("../../assets/fonts/maple-mono-nf-cn/MapleMono-NF-CN-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: fallback;
}
